  <div>
    <div class="row">
      <div class="col-lg-12">
        <div class="card-box">
          <div class="row">
            <div class="col-sm-8">
              <form role="form">
                      <div class="form-group contact-search m-b-30">
                          <input type="text" id="search" class="form-control searchbar" [(ngModel)]="searchTxt" (ngModelChange)="searchAction($event)" placeholder="Search..." [ngModelOptions]="{standalone: true}">
                          <button type="submit" (click)="searchAction()" class="btn btn-white"><i class="fa fa-search"></i></button>
                      </div> <!-- form-group -->
              </form>
            </div>
          </div>         
          <div class="cus-table table-responsive">
                    <table class="table table-hover mails m-0 table table-actions-bar">
                      <thead style="background-color: #d4d4d4;">
                          <tr>
                            <th style="min-width: 95px;">
                              <div class="checkbox checkbox-primary checkbox-single m-r-15">
                                  <input id="action-checkbox" type="checkbox">
                                  <label for="action-checkbox"></label>
                              </div>
                            </th>
                            <th>Name</th>
                            <th>Quantity</th>
                            <th>Category</th>
                            <th>PriceType</th>
                            <th>CreatedBy</th>
                            <th style="min-width: 90px;">Action</th>
                          </tr>
                      </thead>
  
                        <tbody>
                            <tr *ngFor="let item of TableContent">
                                <td>
                                  <div class="checkbox checkbox-primary m-r-15">
                                      <input id="checkbox2" type="checkbox" checked="">
                                      <label for="checkbox2"></label>
                                  </div>                                   
                                </td>
                                
                                <td>{{item.Name}}</td>
                                
                                <td>{{item.Quantity}}</td>
                                <td>{{item.Category}}</td>
                                <td>{{item.PriceType}}</td>
                                <td>{{item.CreatedBy}}</td>
                                <td>
                                  <a class="table-action-btn"><i class="md md-edit" (click)="showModal(item,lgModal)"></i></a>
                                  <a class="table-action-btn"><i class="md md-close" (click)="ShowDelete(sureModal,item)"></i></a>
                                </td>
                            </tr>                       
                        </tbody>
                    </table>
                </div>
            </div>
        <div *ngIf="isLoading" class="progress">
            <div class="progress-bar progress-bar-primary progress-bar-striped active" role="progressbar" aria-valuenow="82" aria-valuemin="0" aria-valuemax="100" style="width: 72%;">
                <span class="sr-only">72% Complete</span>
            </div>
        </div>
        <alert *ngIf="isError" type="danger">{{mess}}</alert>
        <alert *ngIf="isSuccess" type="success">{{mess}}</alert>
        </div> <!-- end col -->      
    </div>

        <!--Modal-->
    <div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="overflow: scroll;">
        <div class="modal-header">
            <h4 class="modal-title pull-left">Edit Item</h4>
            <button type="button" class="close pull-right" (click)="lgModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">

            <div class="form-group">
                <label for="ItemName">Item Name*</label>
                <input type="text" parsley-trigger="change" [(ngModel)]="item.Name" required placeholder="Enter Item Name" class="form-control input-Cus">
            </div>

            <div class="form-group">
                <label for="description">Description*</label>
                <textarea class="form-control input-Cus" rows="5" required [(ngModel)]="item.Description" placeholder="Enter Description"></textarea>
            </div>

            <div class="form-group">
                <label for="price">Price*</label>
                <div class="input-group m-t-10">
                    <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                    <input type="number" id="example-input3-group1" [(ngModel)]="item.Price" name="example-input3-group1" required class="form-control input-Cus" placeholder="00.00">
                </div>
            </div>

            <div class="form-group">
                <label for="pass1">Quantity*</label>
                <input type="number" parsley-trigger="change" [(ngModel)]="item.Quantity"  class="form-control input-Cus">

            </div>
            <div class="form-group">
                <label for="passWord2">State*</label>
                <input type="text" [(ngModel)]="item.State" required placeholder="item State" class="form-control input-Cus">
            </div>
            <div class="form-group">
                <label for="category">Category*</label>
                <select class="form-control" style="height: 3rem;"  [(ngModel)]="item.Category" >
                      <option *ngFor="let category of Categories" value="{{category}}">{{category}}</option>
                </select>
            </div>

            <div class="form-group">
                <label for="category">Status*</label>
                <select class="form-control" style="height: 3rem;"  [(ngModel)]="item.Status" >
                      <option *ngFor="let stat of Status" value="{{stat}}">{{stat}}</option>
                </select>
            </div>

            <div class="form-group">
                <label for="category">Price Type*</label>
                <select class="form-control" style="height: 3rem;"  [(ngModel)]="item.PriceType" (ngModelChange)="PriceTypeChange($event)" >
                      <option *ngFor="let type of PriceType" value="{{type}}">{{type}}</option>
                </select>
            </div>

            <div *ngIf="isBid" class="form-group">
                <label for="passWord2">End Date*</label>
                <input type="date" class="form-control" [(ngModel)]="item.BidEnding">
            </div>

            <div class="row">
              <div class="col-md-3">
                  <div class="form-group">
                      <img src="{{item.Images[0]}}" style="width:200px;height:200px;">
                      <input name="file" type="file" (change)="readImage1($event)"/>
                  </div>
              </div>
              <div class="col-md-3">
                  <div class="form-group">
                      <img src="{{item.Images[1]}}" style="width:200px;height:200px;">
                      <input name="file" type="file" (change)="readImage2($event)"/>
                  </div>
              </div>
              <div class="col-md-3">
                  <div class="form-group">
                      <img src="{{item.Images[2]}}" style="width:200px;height:200px;">
                      <input name="file" type="file" (change)="readImage3($event)"/>
                  </div>
              </div>
              <div class="col-md-3">
                  <div class="form-group">
                      <img src="{{item.Images[3]}}" style="width:200px;height:200px;">
                      <input name="file" type="file" (change)="readImage4($event)"/>
                  </div>
              </div>
            </div>

        <div class="row">

            <button (click)="UpdateItem()" class="btn btn-default waves-effect waves-light">Save</button>
            <button type="button" (click)="lgModal.hide()" class="btn btn-danger waves-effect waves-light m-l-10">Cancel</button>
        </div>
        <div *ngIf="isLoading" class="progress">
            <div class="progress-bar progress-bar-primary progress-bar-striped active" role="progressbar" aria-valuenow="82" aria-valuemin="0" aria-valuemax="100" style="width: 72%;">
                <span class="sr-only">72% Complete</span>
            </div>
        </div>
        <alert *ngIf="isError" type="danger">{{mess}}</alert>
        <alert *ngIf="isSuccess" type="success">{{mess}}</alert>
        </div>
    </div>
    </div>

  </div>

<div bsModal #sureModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Deleting Ad</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="sureModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to <b style="color: red;">DELETE</b> this Item</p>
        <div class="row">

            <button (click)="DeleteItem(sureModal)" class="btn btn-default waves-effect waves-light">YES</button>
            <button type="button" (click)="sureModal.hide()" class="btn btn-danger waves-effect waves-light m-l-10">NO</button>
        </div>
      </div>
    </div>
  </div>
</div>